extends layout

include mixins/_vehicleInfo

block content
  header.pageHeader
    h2.title Settings

  section.pageContent.inner
    .card
      h3 Account
      form(action="/account" method="POST")
        label(for="name") Name
        input(type="text" name="name" value=user.name)
        label(for="email") Email Address
        input(type="email" name="email" value=user.email)
        input.button(type="submit" value="Save Account Changes")
    .card
      +vehicleInfo(user.name, user.email)

    //- .settings
    //-   h2 Display Settings
    //-   form()
    //-     label(for="darkModeToggle") Dark/Light View Mode
    //-     input(name="darkModeToggle" id="themeSwitch" type="checkbox")

    a.button(href="/logout")
      != h.icon('logout.svg')
      span Logout
