extends layout

include mixins/_vehicleInfo

block content
  .single
    .single__hero
      h2.title.title--single Edit Your Account

  .single__details.inner
    .card
      form(action="/account" method="POST")
        label(for="name") Name
        input(type="text" name="name" value=user.name)
        label(for="email") Email Address
        input(type="email" name="email" value=user.email)
        +vehicleInfo()

        input.button(type="submit" value="Save Account Changes")

    //- .settings
    //-   h2 Settings
    //-   form()
    //-     label(for="darkModeToggle") Dark/Light View Mode
    //-     input(name="darkModeToggle" id="themeSwitch" type="checkbox")
