extends layout

include mixins/_searchForm

block content
  header.pageHeader
    h2.title= title

  section.pageContent.inner
    if user
      .home__option.search__home__option
        != h.icon('log-search.svg')
        .search__home__container
          +searchForm()

      a(href='/add' class='home__option add')
        != h.icon('log-plus.svg')
        span Add New Log Entry

      a(href='/upcoming-maintenance' class='home__option upcoming-maintenance')
        != h.icon('log-clock.svg')
        span View Upcoming Scheduled Maintenance

      a(href='/log' class='home__option history')
        != h.icon('log1.svg')
        span View Full Maintenance Log History

      a(href='/account' class='home__option account')
        != h.icon('log-pencil.svg')
        span Add Your Vehicle and View Other Settings
    if !user
      a(href='/register' class='home__option register')
        != h.icon('register.svg')
        span Register to Start Your Maintenance Log
      a(href='/login' class='home__option login')
        != h.icon('login.svg')
        span Login to View Your Maintenance Log
