extends layout

include mixins/_logCard
include mixins/_logTableEntry

block content
  h2= title

  //- pre= h.dump(locals)

  .log.largeScreens
    table.logTable
      thead
        tr.tableHead
          th Service Performed
          th Vehicle
          th Short Desc
          //- th Long Desc
          //- th Date Started
          th Date Completed
          //- th Date Entered
          th Next Service Date
          th Next Service Mileage
          th Tools
          th Parts
          th Parts Cost
          th Labor Cost
          th Service Location
          th Odometer
      tbody
        each entry in log
          tr.logTableEntry
            +logTableEntry(entry, vehicle)
  
  .inner
    .log.smallScreens
      each entry in log
        +logCard(entry)