mixin logPhotos(photos)
  if photos && photos.length
    label(for="previousPhotos") Previously Uploaded Images
    .logFormPhotosContainer
      each photo in photos
        .logFormPhoto
          img(src=`http://res.cloudinary.com/c00p/image/upload/${photo}`, alt=photo width=200)
          a.button.deletePhoto(href=`/remove/photo/${photo}` title="Delete This Photo") Delete Photo
    input(type="hidden" name="previousPhotos" value=photos.toString().trim())
