mixin odometerHistory(vehicle)
  if vehicle
    if vehicle.odometerHistory
      if vehicle.odometerHistory.length > 0
        .odometer__readings__container
          header.odometer__history__title
            h3 Odometer History
          section.odometer__history__table__header
            strong Date
            strong Mileage
          each odometerReading in vehicle.odometerHistory
            if odometerReading.date
              if odometerReading.value
                .odometer__reading__container
                  .odometer__reading__date
                    span= locals.h.moment(odometerReading.date).fromNow()
                  .odometer__reading__mileage
                    span= odometerReading.value.toLocaleString()
