mixin searchForm()
  if user
    .search__container
      label(for="search" type="hidden")
      input.search__input(type="text" placeholder="Search by part, date, etc..." name="search")
      .search__results
