mixin vehicleSearch()
  //- pre= h.dump(locals)

  h5 Vehicle Info
  .lookupSwitcher
    button.button.vinLookupButton(id="searchByVin") Search by VIN
    button.button.manualVehicleEntryButton.selected(id="manualVehicleEntry") Enter Info Manually

  .manualVehicleEntryDiv
    label(for="vehicleYear") Vehicle Year
    - const year = vehicle.length > 0 ? vehicle[0].year : ''
    input(type="number" name="vehicleYear" min="1900" step="1" value=year || '')
    label(for="vehicleMake") Make 
    - const make = vehicle.length > 0 ? vehicle[0].make : ''
    input(type="text" name="vehicleMake" value=make || '')
    label(for="vehicleModel") Model 
    - const model = vehicle.length > 0 ? vehicle[0].model : ''
    input(type="text" name="vehicleModel" value=model || '')
    label(for="vehicleOdometer") Current Odometer Reading
    - const odometer = vehicle.length > 0 ? vehicle[0].odometer : ''
    input(type="number" name="vehicleOdometer" min="0" step="0.1" value=odometer || '')

  .searchByVinDiv.hidden
    .searchInput
      label(for="vin") VIN
      input(type="text" name="vin")
      button.button(id="vinSearchButton") Lookup VIN
      button.button.hidden(id="confirmResults") Vehicle Info Is Correct
    .vehicleResults
