.hide {
  text-indent: -999999px;
  font-size: 0;
}

.hidden {
  visibility: invisible;
  display: none;
}

.button {
  border: 0;
  background: $yellow;
  color: $black;
  font-family: 'Panama';
  font-weight: 600;
  padding: 10px;
  margin: 9px 0 21px 0;
}

.avatar {
 min-width: 50px;
 height: 50px;
 border-radius: 50%;
 align-self: center;
}

.card {
  background: white;
  padding: 1.5rem;
  box-shadow: 0 1px 10px rgba(0,0,0,0.15);
}

.card > input {
  margin-bottom: 1.25rem;
}

@media all and (min-width: 768px) {
  .card {
    padding: 2.2rem;
  }
}

@media all and (min-width: 1500px) {
  .card {
    padding: 3.75rem;
  }
}

pre.error {
  padding: 5rem;
  background: white;
  line-height: 3;
  white-space: pre-line;
}
