html {
  font-size: 10px;
}

body {
  color: $blackText;
  min-height: 100vh;
  background: $darkest;
  background: linear-gradient(90deg, #48ded4 0%, hsla(219, 93%, 48%, 1) 10%, hsla(130, 96%, 45%, 1) 100%) fixed;
}

.container {
  min-height: 100vh;
  background: rgba(0,0,0,0.65);
  padding-bottom: 2rem;
}

.inner {
  max-width: 900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 1rem;
  }
  &--flashes {
    padding: 0;
  }
}

svg {
  fill: $blackText;
  width: 40px;
  height: 40px;
}

header.pageHeader {
  margin: 0 auto;
}

.pageHeader > h2.title {
  padding: 3rem;
  font-size: 3rem;
}

section.pageContent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 0;
}

.title {
  z-index: 2;
  margin: 0;
  line-height: 1.5;
  position: relative;
  word-wrap: break-word;
}

.button {
  border: 0;
  width: 100%;
  padding: 10px;
  display: block;
  cursor: pointer;
  font-weight: 600;
  color: $buttonText;
  text-align: center;
  font-family: 'Panama';
  margin: 10px 0 10px 0;
  background-color: $buttonBlue;
  border: 1px solid $buttonBlue;
}

.card {
  background: $darkest;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);  
}

.card > input {
  margin-bottom: 1.25rem;
}

@media all and (min-width: 768px) {
  .card {
    padding: 2.2rem;
  }
}

@media all and (min-width: 1500px) {
  .card {
    padding: 3.75rem;
  }
}
