html {
  font-size: 10px;
}

body {
  background: $purple;
  background:#efefef;
  &:before {
    content: '';
    display: block;
    background: $grad;
    height: 10px;
    width: 100%;
  }
}

.inner {
  max-width: 900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 1rem;
  }
  &--flashes {
    padding:0;
  }
}

svg {
  fill: black;
  max-width: 40px;
  max-height: 40px;
}

.main {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  font-size: 20px;
  border: none;
  background: #fff;
  &:hover {
    transform: scale(1.005);
  }
}

a.main {
  overflow-x: hidden;
  height: 100%;
  display: inline-block;
}

.main > span {
  padding-left: 8px;
}
