html {
  font-size: 10px;
}

body {
  background: $darkest;
  color: $blackText;
  min-height: 100vh;
  background: linear-gradient(90deg, #48ded4 0%, hsla(219, 93%, 48%, 1) 10%, hsla(130, 96%, 45%, 1) 100%) fixed;
  // background:
  //   linear-gradient(45deg, hsla(190, 95%, 43%, 1) 0%, hsla(190, 95%, 43%, 0) 70%),
  //   linear-gradient(135deg, hsla(219, 93%, 48%, 1) 10%, hsla(219, 93%, 48%, 0) 80%),
  //   linear-gradient(315deg, hsla(130, 96%, 45%, 1) 100%, hsla(130, 96%, 45%, 0) 70%);
}

.container {
  min-height: 100vh;
  padding-bottom: 4rem;
  background: rgba(0,0,0,0.65);
}

.inner {
  max-width: 900px;
  background: $darker;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 1rem;
  }
  &--flashes {
    padding: 0;
  }
}

svg {
  fill: $blackText;
  width: 40px;
  height: 40px;
}

.main {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  border: none;
  background: $darkest;
  &:hover {
    transform: scale(1.005);
  }
}

a.main {
  overflow-x: hidden;
  height: 100%;
  display: inline-block;
}

.main > span {
  padding-left: 8px;
}

@media all and (min-width: 768px) {
  .main {
    font-size: $medium;
  }
}

@media all and (min-width: 1920px) {
  .main {
    font-size: $large;
  }
}