.log {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.log_entry {
  background:white;
  margin: 10px 0;
  width:30%;
  &__details {
    padding: 2rem;
    p {
      line-height: 1.2;
      margin-bottom: 0;
    }
  }
  @media all and (max-width: 850px) {
    width: 48%;
  }
  @media all and (max-width: 550px) {
    width: 100%;
  }
}

.log_entry__actions {
  // position: relative;
  // z-index: 2;
  // border-bottom: 1px solid rgba(0,0,0,0.2);
  // margin-bottom: 50px;
  // padding-top: 10px;
  // padding-bottom: 20px;
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
}

.log_entry__action {
  font-size: 10px;
  svg {
    width: 25px;
    fill: black;
  }
  &--edit {
    a {
      border-bottom: 0;
    }
  }
}


.log_entry__hero {
  // position: relative;
  // padding: 0 10px 0 10px;
  // &:before {
  //   display: block;
  //   content: '';
  //   position: absolute;
  //   height: 100%;
  //   width: 100%;
  //   top: 0;
  //   right: 0;
  //   opacity: 0.6;
  //   z-index: 1;
  // }
  img {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    left: 0;
    object-fit: cover;
  }
}

.moneySign {
  display: inline-flex;
  align-items: center;
}

.largeScreens {
  display: none;
}

.smallScreens {
  display: flex;
}

.logFormPhotosContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 25px;
}

.logFormPhoto {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  border: 1px groove #ddd;
  margin: 2px 0;
  background: #ccc;
  min-height: 200px;
  overflow: hidden;
}

.logFormPhoto > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

a.deletePhoto {
  z-index: 4;
  width: 100%;
  text-align: center;
}

@media all and (min-width: 768px) {
  .largeScreens {
    display: initial;
  }
  .smallScreens {
    display: none;
  }
  .logFormPhotosContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6px;
  }
  .logFormPhoto {
    margin: 6px;
  }
}

@media all and (min-width: 900px) {
  .logFormPhotosContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 1268px) {
  .logFormPhotosContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}
