.search {
  margin: 14px;
  &__results {
    width: 100%;
    top: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 5;
  }
  &__input {
    font-size: 30px;
    outline: 0;
    border: 0;
  }
  &__result {
    padding: 10px;
    display: block;
    border-bottom: 1px solid #ececec;
    &--active {
      background: #f1f1f1;
    }
  }
}

@media all and (min-width: 650px) {
  .search {
    margin: 25px;
  }
}