.search {
  width: 100%;
  margin: 10px auto;
  &__main {
    display: inline-flex;
  }
  &__main > input {
    padding: 10px 10px 0 10px;
  }
  &__results {
    width: 100%;
    top: 100%;
    // box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 5;
  }
  &__input {
    font-size: 20px;
    outline: 0;
    border: 0;
  }
  &__result {
    padding: 10px;
    display: block;
    background: #efefef;
    z-index: 4;
    // border-bottom: 2px solid #ececec;
    margin: 1px 0;
    &:hover {
      background: #ddd;
      transform: scale(1.015);
      border: 1px solid #ccc;
    }
  }
}

