.logTable {
  width: 100%;
  margin: 1px;
  position: sticky;
  thead {
    background: #fff;
    color: #444;
  }
  td {
    padding: 2px;
    font-size: 1.2rem;
    vertical-align: top;
  }
  .logTableEntry:nth-of-type(even) {
    background: #ddd;
  }
}

td > a {
  text-decoration: underline;
  line-height: 1.25;
}