.logTable {
  width: 100%;
  margin: 1px;
  thead {
    background: #fff;
    color: #555;
  }
  td {
    padding: 2px;
    font-size: 1.2rem;
  }
  .logTableEntry:nth-of-type(even) {
    background: #ddd;
  }
}

.editPencil > svg {
  width: 20px;
}