$width: 900px;
$black30: #303030;
$purple: #262161;
$yellow: #FFC40E;
$pink: #EE7297;
$green: #93FF00;
$red: #E50714;
$black: #000000;
$white: #FFFFFF;
$grey: lighten(grey, 40%);
$shad: 0 0 10px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.05);
$grad: linear-gradient(90deg, #48ded4 0%, #e82c75 40%, $yellow 65%, #48ded4 85%);
$verticalGrad: linear-gradient(0, #48ded4 0%, #e82c75 40%, $yellow 65%, #48ded4 85%);
$small: 0.8rem;
$medium: 1.7rem;
$large: 2.1rem;

$whiteSmoke: #F5F5F5;
$gainsboro: #DDDDDD;
