.lookupSwitcher {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  transition: transform 0.25s;
}

.lookupSwitcher > button {
  padding: 10px;
  margin: 1px 5px;
}

.selected {
  transform: scale(1.05);
  box-shadow: 0px 1px 4px 1px #333;
}

.odometer__readings__container {
  max-width: 350px;
  margin: 0 auto;
}

.odometer__history__table__header,
.odometer__reading__container {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.odometer__history__table__header > *,
.odometer__reading__container > * {
  flex: 1;
  margin: 0 5px;
  padding: 0 5px;
}

.odometer__history__table__header > strong {
  border-bottom: 1px dashed $dark;
  margin-bottom: 5px;
}